{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>广师大体育场馆管理系统</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'img/favicon1.ico' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'plugins/CodeSeven-toastr-2.1.4-7-g50092cc/CodeSeven-toastr-50092cc/build/toastr.css' %}">
    <style>
        html, body {

            width: 100%;

            height: 100%;

        }
    </style>
</head>
<body>
<div>
    <!-- 固定导航栏 -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index/">广师大体育场馆管理系统</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="tencent://message/?uin=787517703&Site=QQ交谈&Menu=yes" target="blank">
                        <img src="https://wpa.qq.com/pa?p=1:787517703:7"
                             alt="QQ联系"
                             width="71"
                             height="24"/></a>
                    </li>
                </ul>
                <div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/login/">校内登录</a></li>
                            <li><a href="/reg_login/">校外登录</a></li>
                            <li><a href="/reg/">注册</a></li>
                        </ul>
                    </div>
                </div>

            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{% static 'img/2.jpg' %}" alt="...">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="{% static 'img/1.jpg' %}" alt="...">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="{% static 'img/3.jpg' %}" alt="...">
                <div class="carousel-caption">
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/CodeSeven-toastr-2.1.4-7-g50092cc/CodeSeven-toastr-50092cc/build/toastr.min.js' %}"></script>
</body>
</html>